@model HRMS.DTO.EmployeeDTO


@{
    ViewData["Title"] = "Employee Details";
}

<h1>Employee Details</h1>

<div>
    <h3>@Model.Name</h3>
    <dl class="row">
        <dt class="col-sm-2">National ID</dt>
        <dd class="col-sm-10">@Model.NationalIdNumber</dd>

        <dt class="col-sm-2">Address</dt>
        <dd class="col-sm-10">@Model.Address</dd>

        <dt class="col-sm-2">Phone</dt>
        <dd class="col-sm-10">@Model.Phone</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Position</dt>
        <dd class="col-sm-10">@Model.Position</dd>

        <dt class="col-sm-2">Salary</dt>
        <dd class="col-sm-10">@Model.Salary</dd>
    </dl>

    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
